= form_for([@place, @photo]) do |f|
  - if @photo.errors.any?
    #error_explanation
      %h2
        = pluralize(@photo.errors.count, "error")
        prohibited this document from being saved:
      %ul
        - @photo.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :name, :class => 'control-label'
    %br/
    = f.text_field :name, :class => 'form-control'
  .field
    = f.label :caption, :class => 'control-label'
    %br/
    = f.text_field :caption, :class => 'form-control'
  .actions
    = f.submit