= form_for([@place, @photo]) do |f|
  - if @photo.errors.any?
    #error_explanation
      %h2
        = pluralize(@photo.errors.count, "error")
        prohibited this document from being saved:
      %ul
        - @photo.errors.full_messages.each do |msg|
          %li= msg

  %table.table.table-striped.table-hover
    %thead
      %tr
        %th= "Language"
        %th= "Caption"
    %tbody
      = f.fields_for :photo_translations do |translation_fields|
        %tr
          %td
            = translation_fields.select :language, @supported_languages, { include_blank: true }
          %td
            = translation_fields.text_field :caption, :class => 'form-control'

  .actions
    = f.submit nil, :class => 'btn btn-primary'