- btn_name ||= "next"

= form_for @route, :html => { :class => "form-horizontal route", :multipart => true } do |f|
  - if @route.errors.any?
    #error_expl.panel.panel-danger
      .panel-heading
        %h3.panel-title
          = pluralize(@route.errors.count, "error")
          prohibited this route from being saved:
      .panel-body
        %ul
          - @route.errors.full_messages.each do |msg|
            %li= msg

  .control-group
    = f.label :title, :class => 'control-label'
    .controls
      = f.text_field :title, :class => 'form-control'
    = error_span(@route[:title])
  .control-group
    = f.label :subtitle, :class => 'control-label'
    .controls
      = f.text_field :subtitle, :class => 'form-control'
    = error_span(@route[:subtitle])

  .buttons
    #create-route= f.submit t("helpers.links.#{btn_name}"), :class => 'btn btn-primary'
    %br
    = link_to t('.cancel', :default => t("helpers.links.cancel")), routes_path, :class => 'btn btn-default'