= form_for @place, :html => { :class => "form-horizontal place", :multipart => true } do |f|
  - if @place.errors.any?
    #error_expl.panel.panel-danger
      .panel-heading
        %h3.panel-title
          = pluralize(@place.errors.count, "error")
          prohibited this place from being saved:
      .panel-body
        %ul
          - @place.errors.full_messages.each do |msg|
            %li= msg
  %table.table.table-striped.table-hover
    %thead
      %tr
        %th= "Language"
        %th= "Title"
        %th= "Subtitle"
    %tbody
      = f.fields_for :place_translations do |translation_fields|
        %tr
          %td
            = translation_fields.select :language, @supported_languages, { include_blank: true }
          %td
            = translation_fields.text_field :title, :class => 'form-control'
          %td
            = translation_fields.text_field :subtitle, :class => 'form-control'

  .control-group
    = f.label :lat, :class => 'control-label'
    .controls
      = f.text_field :lat, :class => 'form-control'
    = error_span(@place[:lat])
  .control-group
    = f.label :lng, :class => 'control-label'
    .controls
      = f.text_field :lng, :class => 'form-control'
    = error_span(@place[:lng])
  .control-group
    = f.label :english_text, "English Text (only txt files allowed)", :class => 'control-label'
    .controls
      = f.file_field :english_text, :class => 'form-control'
    = error_span(@place[:english_text])
  .control-group
    = f.label :german_text, "German Text (only txt files allowed)", :class => 'control-label'
    .controls
      = f.file_field :german_text, :class => 'form-control'
    = error_span(@place[:german_text])
  .buttons
    = f.submit nil, :class => 'btn btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), places_path, :class => 'btn btn-default'